/doc/test_data
*.py[cod]
#*#
*~
*.egg
*.egg-info
*.swp
*.DS_Store
*.so
*.o
*.out
*.lock
/build
/doc/Tutorials/*.rst
/doc/Tutorials/example*.svg
/doc/Tutorials/example*.gif
/doc/_build
/doc/Reference_Manual/*
!/doc/Reference_Manual/index.rst
.ipynb_checkpoints
.coverage
.pytest_cache
.pixi
holoviews/_version.py

/release
/doc/Tutorials-WIP/*.ipynb
.idea
.vscode
holoviews.rc
ghostdriver.log
holoviews/.version
.dir-locals.el
.doit.db
.vscode/settings.json
holoviews/.vscode/settings.json
.venv
dist

examples/getting_started/*.html
