exclude: (\.min\.js$|\.svg$|\.html$)
default_stages: [pre-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # frozen: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-toml
      - id: check-yaml
        exclude: conda.recipe/meta.yaml
      - id: check-json
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 0470f7c8a653e950f7cc5a653204ceb3fde4c02a # frozen: v0.15.0
    hooks:
      - id: ruff-check
  - repo: https://github.com/hoxbro/clean_notebook
    rev: 3b2c8151041168800c746b6d021c9a4b34187f3b # frozen: v0.2.0
    hooks:
      - id: clean-notebook
        args: [--strip-trailing-newlines]
  - repo: https://github.com/crate-ci/typos
    rev: 3a4d65230db538caabac6e156599c8ba8380ff07 # frozen: v1.43.1
    hooks:
      - id: typos
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 3a6eb0fadf60b3cccfd80bad9dbb6fae7e47b316 # frozen: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: 745eface02aef23e168a8afb6b5737818efbea95 # frozen: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/hoxbro/prettier-pre-commit
    rev: 86ff8f664c20f581d71c90a6ea0073c1bcafe1e5 # frozen: v3.8.1
    hooks:
      - id: prettier
        exclude: conda.recipe/meta.yaml
        types_or:
          - markdown
          - yaml
          - css
  - repo: https://github.com/hoxbro/taplo-pre-commit
    rev: 605f960c3c571f814f535622a688bcde63ee87f6 # frozen: v0.9.3
    hooks:
      - id: taplo
        args:
          [
            --option,
            align_comments=false,
            --option,
            column_width=100,
            --option,
            "indent_string=    ",
          ]
