include README.rst
include LICENSE.txt
include CHANGELOG.md
include holoviews/.version
include holoviews/ipython/*.html
include holoviews/plotting/mpl/*.mplstyle
include holoviews/tests/ipython/notebooks/*.ipynb
global-exclude *.py[co]
global-exclude __pycache__
global-exclude *~
global-exclude *.ipynb_checkpoints/*
graft examples
graft holoviews/examples
