.related a {
	margin-left: .5em;
	margin-right: .5em;
}

p.caption {
	text-align: center !important;
	font-weight: bold;
}

ul.parents {
	display: none;
}

.related a:hover {
	background: #7cb92f;
}
.related a[href="#"]:hover, .related a[href="index.html"]:hover {
	background: #9edb4f;
}
.related a[href="#"], .related a[href="index.html"] {
	background: #8dca3f;
}
.related a {
	padding: 0.5em;
	margin: 0;
}

.global-toc li a[href="#"]:hover, .global-toc li a[href="index.html"]:hover {
	background: #fff;
}

.global-toc li a[href="#"], .global-toc li a[href="index.html"] {
	background: #fafafa;
}

.global-toc li a {
	display: block;
}

.global-toc li a:hover {
	background: #f5f5f5;
}

div.body h1 {
	background: #beebbe;
}

div.body h2 {
	background: #c8e3c8;
}

div.body h3, div.body h4, div.body h5, div.body h6 {
	background: #d9e3d8;
}

div.inheritance_box {
	overflow: auto;
}

tt.docutils.literal {
	background: transparent;
	font-size: 1.2em;
	font-weight: bold;
}

dl.class {
	border-top: 1px solid #5a970d;
	padding-top: 15px;
}

dl.class.rm_expanded, dl.class.rm_collapsed {
	border-top: none;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	/*padding-left: 1.5em;*/
}

dl.class.rm_expanded > dt:before {
	content: "[−]";
	cursor: pointer;
	color: #005B81;
}

dl.class.rm_collapsed dt:before {
	content: "[+]";
	cursor: pointer;
	color: #005B81;
}

dl.class.rm_expanded dd {
	display: block;
}

dl.class.rm_collapsed dd {
	display: none;
}

