<script language="javascript">
    /* Define the NDSlider class */
    function NDSlider(frames, id, slider_ids, keyMap, dim_vals, load_json){
        this.fig_id = "fig_" + id;
        this.img_id = "_anim_img" + id;
        this.slider_ids = slider_ids;
        this.keyMap = keyMap
        this.current_frame = 0;
        this.current_vals = dim_vals;
        this.load_json = load_json;
        this.frames = frames;

        this.set_frame(this.current_frame);
    }

    NDSlider.prototype.set_frame = function(dim_val, dim_idx){
        this.current_vals[dim_idx] = dim_val
        var key = "("
        for (var i=0; i<this.slider_ids.length; i++)
        {
            val = this.current_vals[i];
            if (!(isNaN(val))) {
                if (val % 1 === 0) { var fixed = 1;}
                else { var fixed = 10;}
                val = val.toFixed(fixed)
            }
            key += "'" + val + "'";

            if(i != this.slider_ids.length-1) { key += ', ';}
            else if(this.slider_ids.length == 1) { key += ',';}
        }
        key += ")";
        this.current_frame = this.keyMap[key];
        if(this.load_json) {
            $("#" + this.img_id).load("{{ server }}/" + this.fig_id + "/" + this.frames[this.current_frame]);
        }
        else {
            $("#" + this.img_id).html(this.frames[this.current_frame]);
        }

    }
</script>

<div class="animation">
    <div style="display: inline-block; vertical-align:middle; width:59%;">
        <div id="_anim_img{{ id }}" align="center"></div>
    </div>

    <div style="display: inline-block; vertical-align:middle; margin: 0 auto; width: 39%;">

        {% for widget_data in widgets %}
        {% if widget_data['type'] == 'slider' %}

        <div style="width: 90%; margin: auto auto;">
            <div>
                <div style="display: inline-block; vertical-align:middle; margin: 0 auto; width: 40%;">
                    {{ widget_data['dim'] }}:
                </div>
                <div style="display: inline-block; vertical-align:middle; margin: auto 0; width:50%;">
                    <input type="text" id="textInput{{ id }}_{{ widget_data['dim'] }}" value="">
                    </input>
                </div>
            </div>

            </br>

            <div id="_anim_widget{{ id }}_{{ widget_data['dim'] }}" style="width:95%; margin: auto auto;"></div>
        </div>

        </br>
        </br>

        <script>
            var valMap{{ id }}_{{ widget_data['dim'] }} = {{ widget_data['vals'] }};

            $('#_anim_widget{{ id }}_{{ widget_data['dim'] }}').slider({
                min: 0,
                max: valMap{{ id }}_{{ widget_data['dim'] }}.length - 1,
                    value: 0,
                    slide: function(event, ui) {
                var dim_val = valMap{{ id }}_{{ widget_data['dim'] }}[ui.value];
                $('#textInput{{ id }}_{{ widget_data['dim'] }}').val(dim_val);
                anim{{ id }}.set_frame(dim_val, {{ widget_data['dim_idx'] }});
            }
            });

            $('#textInput{{ id }}_{{ widget_data['dim'] }}').val(valMap{{ id }}_{{ widget_data['dim'] }}[0]);
        </script>

        {% elif widget_data['type']=='dropdown' %}

        <div>
            <span>
                {{ widget_data['dim'] }}:
            </span>

            <span>
                <select name="select-choice-min" id="_anim_widget{{ id }}_{{ widget_data['dim'] }}" data-native-menu="false">
                </select>
            </span>
        </div>

        </br>
        </br>

        <script>
            var valMap{{ id }}_{{ widget_data['dim'] }} = {{ widget_data['vals'] }};
            var options = $("#_anim_widget{{ id }}_{{ widget_data['dim'] }}");
            for (var i=0; i<valMap{{ id }}_{{ widget_data['dim'] }}.length; i++)
            {
                options.append($("<option>", {
                    value: i,
                    text:  valMap{{ id }}_{{ widget_data['dim'] }}[i]
            }));
            };

            $('#_anim_widget{{ id }}_{{ widget_data['dim'] }}').on('change', function(event, ui) {
                var dim_val = valMap{{ id }}_{{ widget_data['dim'] }}[this.value];
                if(anim{{ id }}) {
                    anim{{ id }}.set_frame(dim_val, {{ widget_data['dim_idx'] }});
            }
            });
        </script>

        {% endif %}
        {% endfor %}
    </div>
</div>


<script language="javascript">
    /* Instantiate the NDSlider class. */
    /* The IDs given should match those used in the template above. */
    (function() {
        var widget_ids = new Array({{ Nwidget }});

    {% for dim in dimensions %}
        widget_ids[{{ loop.index0 }}] = "_anim_widget{{ id }}_{{ dim }}";
    {% endfor %}

    var frames = {{ frames | safe }}

    var dim_vals = {{ init_dim_vals }};
    var keyMap = {{ key_data }};

    /* set a timeout to make sure all the above elements are created before
       the object is initialized. */
    setTimeout(function() {
        anim{{ id }} = new NDSlider(frames, "{{ id }}", widget_ids, keyMap, dim_vals, {{ load_json }});
    }, 0);
    })()
</script>