name: docs
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+a[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+b[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+rc[0-9]+"
  workflow_dispatch:
    inputs:
      target:
        description: "Site to build and deploy, or dry-run"
        type: choice
        options:
          - dev
          - main
          - dryrun
        required: true
        default: dryrun
  schedule:
    - cron: "0 14 * * SUN"

defaults:
  run:
    shell: bash -el {0}

jobs:
  pixi_lock:
    name: Pixi lock
    runs-on: ubuntu-latest
    steps:
      - uses: holoviz-dev/holoviz_tasks/pixi_lock@pixi

  docs_build:
    name: Build Documentation
    needs: [pixi_lock]
    runs-on: "macos-latest"
    timeout-minutes: 180
    outputs:
      tag: ${{ steps.vars.outputs.tag }}
    env:
      MPLBACKEND: "Agg"
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MOZ_HEADLESS: 1
      PANEL_EMBED: "true"
      PANEL_EMBED_JSON: "true"
      PANEL_EMBED_JSON_PREFIX: "json"
      DASK_DATAFRAME__QUERY_PLANNING: false
    steps:
      - uses: holoviz-dev/holoviz_tasks/pixi_install@pixi
        with:
          environments: docs
      - name: Build documentation
        run: pixi run -e docs docs-build
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: docs
          if-no-files-found: error
          path: builtdocs
      - name: Set output
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

  docs_publish:
    name: Publish Documentation
    runs-on: "ubuntu-latest"
    needs: [docs_build]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: docs
          path: builtdocs/
      - name: Set output
        id: vars
        run: echo "tag=${{ needs.docs_build.outputs.tag }}" >> $GITHUB_OUTPUT
      - name: upload dev
        if: |
          (github.event_name == 'workflow_dispatch' && github.event.inputs.target == 'dev') ||
          (github.event_name == 'push' && (contains(steps.vars.outputs.tag, 'a') || contains(steps.vars.outputs.tag, 'b') || contains(steps.vars.outputs.tag, 'rc')))
        run: |
          pipx install awscli
          aws s3 sync --quiet ./builtdocs s3://dev.holoviews.org/
      - name: upload main
        if: |
          (github.event_name == 'workflow_dispatch' && github.event.inputs.target == 'main') ||
          (github.event_name == 'push' && !(contains(steps.vars.outputs.tag, 'a') || contains(steps.vars.outputs.tag, 'b') || contains(steps.vars.outputs.tag, 'rc')))
        run: |
          pipx install awscli
          aws s3 sync --quiet ./builtdocs s3://holoviews.org/
