name: tests
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "*"
  workflow_dispatch:
    inputs:
      target:
        description: "How much of the test suite to run"
        type: choice
        default: default
        options:
          - default
          - full
          - downstream
      cache:
        description: "Use cache"
        type: boolean
        default: true

  schedule:
    - cron: "0 14 * * SUN"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -el {0}

env:
  SETUPTOOLS_ENABLE_FEATURES: "legacy-editable"
  DISPLAY: ":99.0"
  PYTHONIOENCODING: "utf-8"
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  OMP_NUM_THREADS: 1
  OPENBLAS_NUM_THREADS: 1
  MKL_NUM_THREADS: 1
  VECLIB_MAXIMUM_THREADS: 1
  NUMEXPR_NUM_THREADS: 1
  NUMBA_NUM_THREADS: 1
  PYDEVD_DISABLE_FILE_VALIDATION: 1

jobs:
  pre_commit:
    name: Run pre-commit
    runs-on: "ubuntu-latest"
    steps:
      - uses: holoviz-dev/holoviz_tasks/pre-commit@v0.1a19

  setup:
    name: Setup workflow
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      code_change: ${{ steps.filter.outputs.code }}
      matrix: ${{ env.MATRIX }}
    steps:
      - uses: actions/checkout@v3
        if: github.event_name != 'pull_request'
      - name: Check for code changes
        uses: dorny/paths-filter@v2.11.1
        id: filter
        with:
          filters: |
            code:
              - 'holoviews/**'
              - 'examples/**'
              - 'setup.py'
              - 'pyproject.toml'
              - '.github/workflows/test.yaml'
      - name: Set matrix option
        run: |
          if [[ '${{ github.event_name }}' == 'workflow_dispatch' ]]; then
            OPTION=${{ github.event.inputs.target }}
          elif [[ '${{ github.event_name }}' == 'schedule' ]]; then
            OPTION="full"
          elif [[ '${{ github.event_name }}' == 'push' && '${{ github.ref_type }}' == 'tag' ]]; then
            OPTION="full"
          else
            OPTION="default"
          fi
          echo "MATRIX_OPTION=$OPTION" >> $GITHUB_ENV
      - name: Set test matrix with 'default' option
        if: env.MATRIX_OPTION == 'default'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest", "macos-latest", "windows-latest"],
              "python-version": ["3.9", "3.11"],
              "include": [
                  {"os": "ubuntu-latest", "python-version": "3.10"}
              ]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV
      - name: Set test matrix with 'full' option
        if: env.MATRIX_OPTION == 'full'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest", "macos-latest", "windows-latest"],
              "python-version": ["3.9", "3.10", "3.11"]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV
      - name: Set test matrix with 'downstream' option
        if: env.MATRIX_OPTION == 'downstream'
        run: |
          MATRIX=$(jq -nsc '{
              "os": ["ubuntu-latest"],
              "python-version": ["3.11"]
          }')
          echo "MATRIX=$MATRIX" >> $GITHUB_ENV

  unit_test_suite:
    name: Unit tests on Python ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit, setup]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    timeout-minutes: 120
    env:
      DESC: "Python ${{ matrix.python-version }}, ${{ matrix.os }} unit tests"
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
      - uses: holoviz-dev/holoviz_tasks/install@v0.1a19
        if: needs.setup.outputs.code_change == 'true'
        with:
          name: unit_test_suite
          python-version: ${{ matrix.python-version }}
          channel-priority: flexible
          channels: pyviz/label/dev,bokeh/label/dev,conda-forge,nodefaults
          envs: "-o flakes -o tests -o examples_tests -o tests_ci"
          cache: ${{ github.event.inputs.cache || github.event.inputs.cache == '' }}
          conda-update: true
        id: install
      - name: bokeh sampledata
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          bokeh sampledata
      - name: doit test_unit
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          doit test_unit
      - name: test examples
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          doit test_examples
      - name: codecov
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          codecov

  ui_test_suite:
    name: UI tests on Python ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit, setup]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.9"]
    timeout-minutes: 60
    env:
      DESC: "Python ${{ matrix.python-version }}, ${{ matrix.os }} UI tests"
      PANEL_LOG_LEVEL: info
      # Without this env var `doit env_create ...` uses by default
      # the `pyviz` channel, except that we don't want to configure
      # it as one of the sources.
      PYCTDEV_SELF_CHANNEL: "pyviz/label/dev"
    steps:
      - uses: holoviz-dev/holoviz_tasks/install@v0.1a19
        if: needs.setup.outputs.code_change == 'true'
        with:
          name: ui_test_suite
          python-version: ${{ matrix.python-version }}
          channels: pyviz/label/dev,bokeh/label/dev,conda-forge,nodefaults
          envs: "-o recommended -o tests -o build -o tests_ci"
          cache: ${{ github.event.inputs.cache || github.event.inputs.cache == '' }}
          playwright: true
        id: install
      - name: Check packages latest version
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          python scripts/check_latest_packages.py panel bokeh
      - name: doit test_ui
        if: needs.setup.outputs.code_change == 'true'
        run: |
          conda activate test-environment
          doit test_ui
      - name: Upload coverage to Codecov
        if: needs.setup.outputs.code_change == 'true'
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          flags: ui-tests
          fail_ci_if_error: false # optional (default = false)

  core_test_suite:
    name: Core tests on Python ${{ matrix.python-version }}, ${{ matrix.os }}
    needs: [pre_commit, setup]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version: ["3.12"]
    timeout-minutes: 120
    env:
      DESC: "Python ${{ matrix.python-version }}, ${{ matrix.os }} core tests"
      PYTHON_VERSION: ${{ matrix.python-version }}
    steps:
      # Add back when this works on Python 3.12
      # - uses: holoviz-dev/holoviz_tasks/install@v0.1a19
      #   if: needs.setup.outputs.code_change == 'true'
      #   with:
      #     name: core_test_suite
      #     python-version: ${{ matrix.python-version }}
      #     # channel-priority: strict
      #     channels: pyviz/label/dev,conda-forge,nodefaults
      #     envs: "-o tests_core -o tests_ci"
      #     cache: ${{ github.event.inputs.cache || github.event.inputs.cache == '' }}
      #     conda-update: true
      #     id: install
      - uses: actions/checkout@v3
        if: needs.setup.outputs.code_change == 'true'
        with:
          fetch-depth: "100"
      - name: Fetch unshallow
        if: needs.setup.outputs.code_change == 'true'
        run: git fetch --prune --tags --unshallow -f
      - uses: actions/setup-python@v4
        if: needs.setup.outputs.code_change == 'true'
        with:
          python-version: 3.12
      - name: install
        if: needs.setup.outputs.code_change == 'true'
        run: |
          python -m pip install -ve '.[tests_core, tests_ci]'
      - name: bokeh sampledata
        if: needs.setup.outputs.code_change == 'true'
        run: |
          # conda activate test-environment
          bokeh sampledata
      - name: Check packages latest version
        if: needs.setup.outputs.code_change == 'true'
        run: |
          # conda activate test-environment
          python scripts/check_latest_packages.py numpy pandas
      - name: doit test_unit
        if: needs.setup.outputs.code_change == 'true'
        run: |
          # conda activate test-environment
          pytest holoviews
